<!DOCTYPE html>
<html>

<head>
  <%- include("parts/head", {head}) %>
  
   <script>
    function openGameStoreUrl(link) {
		  FbPlayableAd.onCTAClick();
	}
   </script>
</head>

<body>
  <%- include("parts/body", {body})%>
    <script>window.addEventListener("DOMContentLoaded", start);</script>
</body>

</html>